body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "header header header header"
    "player gameTable gameTable comp"
    "player gameTable gameTable comp";
}

.header {
  grid-area: header;
}

.player {
  grid-area: player;
}

.comp {
  grid-area: comp;
}

.gameTable {
  grid-area: gameTable;
}

.playerDraw {
  width: 100px;
  height: 100px;
  display: block;
  font-size: 50px;
  float: left;
}

.compDraw {
  width: 100px;
  height: 100px;
  display: block;
  font-size: 50px;
  float: right;
}

#draw {
  margin-top: 100px;
}

#msg {
  color: red;
  text-align: center;
}

#newGame {
  margin-left: 20px;
}
